body{
    margin: 0;
    padding: 0;
   
}
.contnr{
    display: flex;
   
    align-items: center;
    /* justify-content: right; */
    height: 100vh;
    width: 100vw;
    background-color: black;
   flex-direction: row;
}
.bdy{
    
    margin-left: auto;
    margin-right: 5vw;
    height: 80vh;
   /* border: 2px solid red;*/

}
.head{
    border: 5px solid green;
    width: 100%;
    height: 80vh;
    padding: 4vw;
}
.heading {
    font-size: 6rem;
    color: white;
    margin-top: 3vh;
    font-family: 'Passion One', cursive;
    text-transform: uppercase;
}
.subheading{
    margin-left: 3rem;
    font-size: 2rem;
    color: white;
    /* margin-top: 3vh; */
    font-family: 'Passion One', cursive;
    text-transform: uppercase;
    
}
.btngrp {
    margin-top: 25vh;
    width: 60%;
    border: 5px solid red;
    display: flex;
    justify-content: space-between;
}
.fcColor{
    
    color: #fc3434;
}
.btn1{
    background-color: #fc3434;
    margin-left: 3rem;
    color: #fff;
    padding: 0.8rem 3.7rem;
    /* width: 4vw; */
    text-transform: uppercase;
    outline: none;
    border: none;
    /* height: 4vh; */
}